[Unit]
Description=SteamlessController daemon
PartOf=graphical-session.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/steamlesscontrollerd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
NoNewPrivileges=yes

[Install]
WantedBy=default.target
